body,
html {
  /*margin: 0;
    padding: 0;*/
  overflow: hidden;
}

.container {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

#LeftPicture {
  height: 100%;
  overflow-y: auto;
}

select,
button,
input {
  background-color: #404048;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 4px;
  border: 2px solid #555;
}

button:hover {
  filter: invert(80%);
}

.img {
  flex: 0 0 4.0%;
  max-width: calc(min(4.0%, 50px));
  min-width: 35px;
  width: 100%;
  height: 100%;
}

.img:active:hover {
  filter: invert(80%);
}

.img:hover {
  filter: invert(80%);
}

#WindowRevision {
  max-width: calc(min(4.0%, 38px));
  min-width: 27px;
  width: 100%;
  height: 100%;
}

#WindowRevisionOption {
  max-width: calc(min(1.0%, 13px));
  min-width: 9px;
  width: 100%;
  height: 100%;
}

.cropimg:active:hover {
  filter: invert(80%);
}

.cropimg:hover {
  filter: invert(80%);
}

.innerimg:active:hover {
  filter: invert(80%);
}

.innerimg:hover {
  filter: invert(80%);
}

.innerLabel {
  font-size: calc(0.4rem + 0.1*((5vw)));
}

.DicomCanvas {
  top: 50%;
  left: 50%;
}

.MarkCanvas {
  top: 50%;
  left: 50%;
}

.leftRule {
  top: 50%;
  transform: translateY(-50%);
}

.downRule {
  left: 50%;
  transform: translateX(-50%);
}

.WindowSelect {
  background-color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  width: 150px;
  height: 30px;

  border-color: rgb(55, 55, 55);
  border-width: 2px;
  border-style: solid;
}

.WindowSelect:hover {
  background-color: rgb(190, 175, 175);
  color: rgb(40, 25, 25);
}

#WindowRevisionParent {
  width: 50px;
  overflow: hidden;
}

.activeImg {
  border: dashed white;
}

.activeImg:hover {
  border: dashed black;
}


/*=====*/

#LeftPicture {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9;
}

.filpx {
  transform: scaleX(-1);
}


/*from script*/
:root {
  --bordersize: 5px;
}

.OutLeftImg {
  border: var(--bordersize) #FFA3FF groove;
  padding: 1px 1px 1px 1px;
}

/*
.LeftImgAndMark {
  width: 65px;
  height: 65px;
  border: var(--bordersize) #D3D9FF groove;
  touch-action: none;
}*/

.LeftImgDiv {
  width: 65px;
  height: 65px;
}

.LeftShadowLabel {
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.innerLabel {
  position: absolute;
  color: white;
  z-index: 10;
  -webkit-user-select: none;
}

.labelWC {
  left: 115px;
  bottom: 30px;
}

.labelLT {
  left: 115px;
  top: 10px;
}

.labelRT {
  right: 20px;
  top: 10px;
  text-align: right;
}

.labelRB {
  right: 20px;
  bottom: 20px;
  text-align: right;
}

.labelXY {
  left: 115px;
  bottom: 10px;
}

.leftRule {
  z-index: 30;
  position: absolute;
  left: 15px;
}

.downRule {
  z-index: 30;
  position: absolute;
  bottom: 15px;
}

.PDFView {
  width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
}

#tooltiptext_img {
  color: white;
  position: absolute;
}

.DicomTable {
  border: 2;
  border-collapse: collapse;
  color: #ffffff;
  position: absolute;
  background-color: black;
  /*right : 0px;*/
  z-index: 105;
}

.DicomTableDIV{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}